table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px 12px;
    text-align: left;
    font-size: 0.95rem;
}

th {
    background: #bbdefb;
    color: #0d47a1;
}

td {
    background: #fdfdfd;
}

tr:nth-child(even) td {
    background: #f5faff;
}